/* Esercizio 1 */
.ex-1-square:hover {
    transition: 2s;
    background-color: red;
}
.ex-1-square:not(:hover) {
    transition: 2s;
    background-color: white;
}

/* Esercizio 2 */
.ex-2-square:active {
    transition: 2s;
    width: 100%;
}
.ex-2-square:not(:active) {
    transition: 2s;
    width: 100px;
}

/* Esercizio 3 */
.ex-3-square:hover {
    transition: 0.5s;
    border-radius: 50%;
}
.ex-3-square:not(:hover) {
    transition: 0.5s;
    border-radius: 0;
}

/* Esercizio 4 */
.ex-4-square:hover {
    transition: 1s;
    opacity: 0%;
}
.ex-4-square:not(:hover) {
    transition: 1s;
    opacity: 100%;
}

/* Esercizio 5 */
.ex-5-square:not(:active) {
    transition: 1s;
    transform: scale(1);
}
.ex-5-square:hover {
    transition: 1s;
    transform: scale(2);
}
.ex-5-square:active {
    transition: 1s;
    transform: scale(0.5);
}

/* Esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* Esercizio 7 */
.ex-7-img:hover {
    transition: 2s;
    filter: grayscale(0.5) sepia(0.5);
}
.ex-7-img:not(:hover) {
    transition: 2s;
    filter: grayscale(0) sepia(0);
}

/* Esercizio 8 */
.ex-8-img:hover {
    transition: 2s;
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 20px;
}
.ex-8-img:not(:hover) {
    transition: 2s;
    filter: grayscale(0) sepia(0);
    border-radius: 0px;
}

/* Esercizio 9 */
.ex-9-img:hover {
    transition: 2s;
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 20px;
    transform: scale(1.5);
}
.ex-9-img:not(:hover) {
    transition: 2s;
    filter: grayscale(0) sepia(0);
    border-radius: 0px;
    transform: scale(1);
}

/* Esercizio 10 */
@keyframes es-10 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.ex-10-icon {
    animation: es-10 1s linear infinite;
}

/* Esercizio 11 */
@keyframes es-11 {
    0% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.ex-11-icon:hover{
    animation: es-11 2s linear infinite;
}

/* Esercizio 12 */
@keyframes es-12-top {
    0% {
      left: 10%;
    }
    50% {
      left: 69%;
    }
    100% {
        left: 10%;
    }
}
@keyframes es-12-bottom {
    0% {
      right: 20%;
    }
    50% {
      right: 69%;
    }
    100% {
        right: 20%;
    }
}
.ex-12-button:hover>.ex-12-top-white {
    animation: es-12-top 2s linear;
}
.ex-12-button:hover>.ex-12-bottom-white {
    animation: es-12-bottom 2s linear;
}